<p>
  O projeto DevY (Developing You) é uma iniciativa de Rafael Eiki,
  ex-aluno do Colégio Técnico de Campinas (COTUCA) e atualmente estudante
  do curso de Bacharelado em Ciência da Computação
  na Universidade Estadual de Campinas (UNICAMP).
</p>

<p>
  Rafael começou a se envolver com o desenvolvimento de projetos científicos
  em 2014, com o Trabalho de Conclusão de Curso do COTUCA, no curso Técnico em
  Informática. A partir dai, ele se envolveu com a comunidade acadêmica
  e com projetos de empreendedorismo.
</p>

<p>
  O projeto DevY surgiu inicialmente como "Ciência no Cotuca", um projeto proposto
  para o colégio no final de 2015. Houve uma experiência piloto com alguns alunos
  que já estavam interessados em aplicar na prática os conhecimentos que eles
  adquiriram na teoria. O projeto andava de forma paralela como um projeto pessoal de
  Rafael ao longo de 2016.
</p>

<p>
  No final de 2016, Rafael propôs o "DevCotuca", projeto aberto aos departamentos
  para dar suporte aos alunos em projetos em 2017. O programa teve apoio da direção
  e do Departamento de Processamento de Dados (DPD). Participaram do programa 6 projetos
  com 14 alunos no total.
</p>

<p>
  O programa foi renomeado para DevY no fim de 2017 e agora possui uma estruturação
  maior e limite de vagas para participação. Através disso, a experiência oferecida
  foi melhorada, principalmente usando o feedback dos programas anteriores.
</p>

<p>
  O DevY não possui fins lucrativos e não possui nenhum tipo de custo para os
  alunos. É um programa com o apoio da direção do COTUCA e do DPD.
</p>
