<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <md-nav-list>
      <a routerLink="/" md-list-item>Home</a>
      <a routerLink="/about" md-list-item>Sobre</a>
      <md-divider></md-divider>
      <h3 md-subheader>Projetos 2017</h3>
      <a *ngFor="let project of projects;" class="project-link"
         routerLink="/project/{{project.id}}" md-list-item>
        {{ project.title }}
      </a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar class="title-container">
    <button type="button" md-button class="menu-trigger" (click)="sidenav.open()">
      <md-icon>more_vert</md-icon>
    </button>
    <span class="title">
      <img src="assets/img/devy.png" class="title-pic"/>
      DevY
    </span>
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-container>
