.title-container {
  width: 100%;
  background: #674ea7;
  color: #fff;
  font-size: 2rem;
  display: flex;
}

.title {
  text-align: center;
  flex: 1;
  display: block;
  height: 100%;
  line-height: 64px;
}

.title-pic {
  max-height: 100%;
  display: inline;
  text-align: center;
  vertical-align: top;
}

.menu-trigger {
  z-index: 10;
}

.project-link {
  padding-left: 1em;
}

@media screen and (max-width: 400px) {
  .title {
    text-align: right;
  }
}
