<div *ngIf="project" class="container">
  <div class="header">
    <img src="assets/img/{{ project.image }}"
         *ngIf="project.image; else noImage"/>
    <div>
      <h1 class="title">{{project.title}}</h1>
      <label class="team-info">Autores: {{project.team}}</label>
      <label class="team-info">Orientador(a): {{project.advisor}}</label>
      <label class="team-info" *ngIf="project.mentors.length > 0">
        Coorientadores: {{project.mentors.join(', ')}}
      </label>
    </div>
  </div>

  <iframe width="560" height="315"
          [src]="videoUrl()"
          frameborder="0"
          allowfullscreen>
  </iframe>
  <br />

  <p>{{ project.description }}</p>
  <hr />

  <h2 class="title">Conquistas</h2>

  <button md-fab
          class="achievement"
          type="button"
          *ngFor="let achievement of project.achievements;"
          color="{{ achievement.color }}"
          mdTooltip="{{ achievement.description }}"
          mdTooltipPosition="right"
          [ngStyle]="{ 'background-color': achievement.color }"
  >
    <md-icon>
      {{ achievement.icon }}
    </md-icon>
  </button>
</div>
