<div *ngIf="project" class="container">
  <div class="header">
    <img src="assets/img/{{ project.image }}"
         *ngIf="project.image; else noImage"/>
    <div>
      <h1 class="title">{{project.title}}</h1>
      <label>Autores: {{project.team}}</label>
    </div>
  </div>

  <video src="{{ project.video }}" controls>
    <source src="{{ project.video }}" type='video/webm'/>
  </video>

  <p>{{ project.description }}</p>

  <hr />

  <h2 class="title">Conquistas</h2>

  <button md-fab
          class="achievement"
          color="accent"
          type="button"
          *ngFor="let achievement of project.achievements;"
          mdTooltip="{{ achievement.description }}"
          mdTooltipPosition="right"
  >
    <md-icon>
      {{ achievement.icon }}
    </md-icon>
  </button>
</div>
