.container {
  flex-direction: row;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project-card {
  max-width: 400px;
  min-width: 200px;
  flex: 1;
  flex-basis: 33%;
  display: inline-block;
  margin: 15px;
}

.text-avatar {
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  background-color: #ff4855;
}
