<div class="container">
  <div class="apply-section">
    <label>Inscrições abertas para a turma de 2018 até 30/09!</label>
    <a href="https://goo.gl/forms/gO3m3tMfU3Tw4f963" md-raised-button color="primary" target="_blank">
      Inscrever equipe
    </a>
    <a href="assets/docs/regulamento.pdf" md-raised-button target="_blank">
      Ver regulamento
    </a>
  </div>

  <md-card  *ngFor="let project of projects;"
            class="project-card mat-elevation-z4">
    <md-card-header>
      <img md-card-avatar
           src="assets/img/{{ project.image }}"
           *ngIf="project.image; else noImage"/>
      <ng-template #noImage>
        <div md-card-avatar class="text-avatar">
          {{ initials(project.title) }}
        </div>
      </ng-template>
      <md-card-title>{{ project.title }}</md-card-title>
      <md-card-subtitle>{{ project.team }}</md-card-subtitle>
    </md-card-header>
    <video md-card-image controls>
      <source src="{{ project.video }}" type='video/webm'/>
    </video>
    <md-card-content>
      <p>{{ project.description }}</p>
      <br />
      <a routerLink="/project/{{project.id}}" md-raised-button color="primary">
        <md-icon>home</md-icon>
        Ver projeto
      </a>
    </md-card-content>
  </md-card>
</div>
