.container {
  flex-direction: row;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ddd;
}

.project-card {
  max-width: 400px;
  min-width: 200px;
  flex: 1;
  flex-basis: 33%;
  display: inline-block;
  margin: 15px;
}

iframe {
  width: 100%;
}

.text-avatar {
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  background-color: #ff4855;
}

.apply-section {
  display: block;
  width: 100%;
  text-align: center;
}

.apply-section label {
  display: block;
  padding: 0.5em;
  font-size: 2em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
