<div class="container">

  <md-card  *ngFor="let project of projects;"
            class="project-card mat-elevation-z4">
    <md-card-header>
      <img md-card-avatar
           src="assets/img/{{ project.image }}"
           *ngIf="project.image; else noImage"/>
      <ng-template #noImage>
        <div md-card-avatar class="text-avatar">
          {{ initials(project.title) }}
        </div>
      </ng-template>
      <md-card-title>{{ project.title }}</md-card-title>
      <md-card-subtitle>{{ project.team }}</md-card-subtitle>
    </md-card-header>
    <iframe width="560" height="315"
            [src]="sanitizeUrl(project.video)"
            frameborder="0"
            allowfullscreen>
    </iframe>
    <md-card-content>
      <p>{{ project.shortDescription }}</p>
      <br />
      <a routerLink="/project/{{project.id}}" md-raised-button color="primary">
        <md-icon>home</md-icon>
        Ver projeto
      </a>
    </md-card-content>
  </md-card>
</div>
